<!--<div><img src="https://firebasestorage.googleapis.com/v0/b/pruebaapp-d5f1d.appspot.com/o/main.png?alt=media&token=558cf3d1-0eb4-4df8-af19-d03cc773a44a"></div>-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<app-spinner></app-spinner>
<body>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <!--<p class="card-text">Un juego de Mayor O Menor con naipes</p>-->
                <a class="card-text" routerLink="/login">Login</a>
                <!--<div class="nav-item" *ngIf="estaLogueado|async as User; else elseBlock">
                    <a class="card-text" href="/juegos/mayor-menor">Jugar</a>
                <ng-template #elseBlock> <strong #elseBlock>Registrese para jugar.</strong></ng-template>
                </div>-->
                <h5 class="card-title">Usuarios</h5>
                <a class="card-text" routerLink="/usuarios">Login</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registro Paciente</h5>
                <!--<p class="card-text">Un juego de Mayor O Menor con naipes</p>-->
                <a class="card-text" routerLink="/registro">Registro Paciente</a>
                <h5 class="card-title">Registro Especialista</h5>
                <a class="card-text" routerLink="/registroEspecialista">Registro Especialista</a>


                <!--<div class="nav-item" *ngIf="estaLogueado|async as User; else elseBlock">
                    <a class="card-text" href="/juegos/mayor-menor">Jugar</a>
                <ng-template #elseBlock> <strong #elseBlock>Registrese para jugar.</strong></ng-template>
                </div>-->
            </div>
        </div>
    </div>
</body>

</html>