<form class="text-center border border-light p-5"  action="#" id="registroEspecialistaForm" [formGroup]="registroEspecialistaForm">
    <div class="row g-5">
        <p class="h4 mb-4">Registro Especialista</p>
        <div class="col-md-7 col-lg-8">
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nombre" formControlName="nombre" >
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('nombre')?.errors && registroEspecialistaForm.get('nombre')?.touched">Nombre requerido</p>
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Apellido" formControlName="apellido" >
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('apellido')?.errors && registroEspecialistaForm.get('apellido')?.touched">Apellido requerido</p>
        
            <input type="number" id="edad" class="form-control" placeholder="Edad"
            aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="edad">
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('edad')?.errors && registroEspecialistaForm.get('edad')?.touched">Edad requerido</p>

            <input type="email" id="email" class="form-control" placeholder="email"
            aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="email" >
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('email')?.errors && registroEspecialistaForm.get('email')?.touched">Email requerido</p>
        
            <input type="password" id="contrasena" class="form-control" placeholder="Contraseña"
                aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="contrasena" >
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('contrasena')?.errors && registroEspecialistaForm.get('contrasena')?.touched">Contraseña requerido</p>
        
            <input type="text" id="obraSocial" class="form-control" placeholder="Especialidad"
                aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="especialidad" >
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('especialidad')?.errors && registroEspecialistaForm.get('especialidad')?.touched">Especialidad requerido</p>
        
            <input type="number" id="dni" class="form-control" placeholder="DNI"
                aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="dni" >
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('dni')?.errors && registroEspecialistaForm.get('dni')?.touched">DNI requerido</p>
        
            <label for="foto" >Foto</label> <br />
            <input type="file" accept=".png, .jpg, .jpeg" (change)="subirFoto($event)" required formControlName="fotoUno" class="form-control" name="fotoUno" id="fotoUno" /> <br />
            <p class="text-danger" *ngIf="registroEspecialistaForm.get('fotoUno')?.errors && registroEspecialistaForm.get('fotoUno')?.touched">Foto requerida</p>

            <hr>
            <button color="info" block="true" class="w-50 btn btn-primary btn-lg" type="submit" (click)="AgregarEspecialista()">Registrarse</button>
        </div>
    </div>
</form>