<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <img [@myAnimationTrigger]="state" class="roll-in-left" src="https://www.transparentpng.com/thumb/red-cross/BG0JF1-hong-kong-red-cross-hospital-schools-picture.png" style="z-index: 9;height: 500px; width: 500px; position: absolute;">

    <div  class="container-fluid" *ngIf="state=='hidden'">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div #informe>
                    <form [formGroup]="formaFechasSolicitado" id="formFechaSolicitado">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <input placeholder="inicio" type="date" formControlName="fechaInicio" id="fechaI">
                            </div>
                            
                            <div class="col-sm-6">
                                <input placeholder="final" type="date" formControlName="fechaFinal" id="fechaF">
                            </div>
                            <button style="width:150px ;"  (click)="seleccionarFechas()" [disabled]="formaFechasSolicitado.invalid"  >Filtrar </button>
                        </div>
                    </form>
                    <div style="max-width:600px; max-height:600px;">
                        <div class="chart" >
                            <canvas baseChart [data]="pieChartDataEspecialista" type="pie"></canvas>
                        </div>
                    </div>
                    <form [formGroup]="formaFechasFinalizado" id="formFechaFinalizado">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <input placeholder="inicio" type="date" formControlName="fechaInicio" id="fechaI">
                            </div>
                            
                            <div class="col-sm-6">
                                <input placeholder="final" type="date" formControlName="fechaFinal" id="fechaF">
                            </div>
                    
                            <button  style="width:150px ;" (click)="seleccionarFechasTurnoFinalizado()" [disabled]="formaFechasFinalizado.invalid"  > Filtrar</button>
                        </div>
                    </form>
                    <div class="chart" style="max-width:600px; max-height:600px;">
                        <canvas baseChart [data]="pieChartDataEspecialistaFinalizado" type="pie"></canvas>
                    </div>
                    <button (click)="generatePDF()">Convertir a pdf</button>
                </div>


                <div #informe2>
                    <div>
                        <div class="chart" >
                            <canvas baseChart [data]="lineChartDataDia" type="pie"></canvas>
                        </div>
                    </div>
                    <div>
                        <div class="chart" style="max-width:600px; max-height:600px;">
                            <canvas baseChart [data]="barChartDataEspecialidad" type="line"></canvas>
                        </div>
                    </div>
                    <h2>Logs</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm" id="logsTabla" (click)="DescargarExcelLogs()">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let turno of listaLogger">
                                    <td>{{turno.id}}</td>
                                    <td>{{turno.data.email|lowercase}}</td>
                                    <td>{{turno.data.fecha}}</td>
                                    <td>{{turno.data.hora}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button (click)="generatePDF2()">Convertir a pdf</button>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
</body>

</html>